/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    background-color: white;
  }

    /* logo / item styles in navbar */
    #logo{
        height: 100%;
        margin-top: -8px;
        margin-right: 10px;
    }
    .nav-item{
        margin-right: 12px;
    }

.jumbotron{
    background-color: #dfe6e9;
    background-image: url(http://courses.washington.edu/bimd233/midtermz8bx/images/ut_jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.title{
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-bottom: 280px;
    font-size: 40px;
    padding: -20px;
}

 #r1{
    text-align: center;
} 

.c2{
    border: 1px solid darkgray;
}

.innerclass{
    margin: 10px;
    padding: 10px;
    background: #9b9fa1;
    text-align: center;
    border-radius: 10px;
}

.linea{
    background-image: -moz-linear-gradient(right,  #ffffff, #ffffff);
    background-image: -webkit-linear-gradient(right,  #ffffff, #ffffff);
    background-image: -ms-linear-gradient(right, #ffffff, #ffffff);
    background-image: -o-linear-gradient(right,  #ffffff, #ffffff);
}
table{
    border-collapse: collapse;
    /* border: 2px solid lightgray; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
}
.tlogo{
    color: #222222;
    font-size: small;
}
.tlogo:hover{
    text-decoration: none;
    color: #222222;
}
tr{
    text-align: center;    
}
.bd{
    border: 1px solid black;
}

.topimage{
    width:100%;
     height:150px; 
    text-align:center;

}
